@charset "utf-8";


/* intro */
.intro .title_wrap span{position:absolute;background:url("../img/spr_title.png") no-repeat}
.intro .headline .bar{opacity:0;transition:all 250ms ease}
.intro .headline{position:absolute;top:217px;left:-146px;width:100%;height:290px}
.intro .headline .bar{transform:translateX(800px);transition:all 150ms ease}
.intro .headline .b_6{width:308px;height:3px;background-position:-928px -151px}
.intro .headline .b_7{width:310px;height:3px;background-position:-928px -89px}
.intro .headline .b_9{width:203px;height:1px;background-position:-928px -115px}
.intro .headline .b_11{width:148px;height:3px;background-position:-928px -139px}
.intro .headline .bar12{top:226px;left:1350px}
.intro .headline .bar13{top:126px;left:1350px}
.intro .headline .bar14{top:36px;left:1420px}
.intro .headline .bar15{top:290px;left:1204px}
.intro .headline .bar16{top:90px;left:0}
.intro .headline .bar17{top:60px;left:20px}
.load .intro .headline .bar12{animation:headBar1 3s 1.7s ease infinite}
.load .intro .headline .bar13{animation:headBar1 3s 1.5s ease infinite}
.load .intro .headline .bar14{animation:headBar1 3s 1.9s ease infinite}
.load .intro .headline .bar15{animation:headBar1 3s 1.4s ease infinite}
.load .intro .headline .bar16{animation:headBar2 2s 1.3s ease infinite}
.load .intro .headline .bar17{animation:headBar2 2s 1.6s ease infinite}



@keyframes startBar1{
    0%{visibility:visible;transform:translateX(0) scaleX(1)}
    40%{transform:translateX(-250px) scaleX(0);opacity:0}
    100%{transform:translateX(-250px) scaleX(0);opacity:0}
}

@keyframes startBar2{
    0%{visibility:visible;transform:translateX(0) scaleX(1)}
    30%{transform:translateX(-200px) scaleX(0);opacity:0}
    100%{transform:translateX(-200px) scaleX(0);opacity:0}
}

@keyframes startBar3{
    0%{visibility:visible;transform:translateX(0px) scaleX(1)}
    40%{transform:translateX(-180px) scaleX(0);opacity:0}
    100%{transform:translateX(-180px) scaleX(0);opacity:0}
}

@keyframes startBar4{
    0%{visibility:visible;transform:translateX(0) scaleX(1)}
    40%{transform:translateX(-300px) scaleX(0);opacity:0}
    100%{transform:translateX(-300px) scaleX(0);opacity:0}
}

@keyframes headBar1{
    0%{visibility:visible;transform:translateX(0) scaleX(1)}
    40%{transform:translateX(-1500px) scaleX(0);opacity:0}
    100%{transform:translateX(-1500px) scaleX(0);opacity:0}
}

@keyframes headBar2{
    0%{visibility:visible;transform:translateX(0) scaleX(1)}
    30%{transform:translateX(-500px) scaleX(0);opacity:0}
    100%{transform:translateX(-500px) scaleX(0);opacity:0}
}
