@charset "utf-8";
/* CSS Document */

/*브라우저 기본 스타일 무효화*/

*{
	margin:0; padding:0;}
/* 이거는 전체 선택자라고 부름
   html문서에 사용 된 모든 태그를 선택함.*/

	
body{
	font-family: 'Noto Sans KR', sans-serif, "돋움", Dotum;
	font-size:14px; line-height:20px; color:#121212;}
	
ul, ol{
	list-style:none;}
	
h1, h2, h3, h4, h5, h6{
	font-weight:500;}

img{
	vertical-align:top;}

	/*인라인 블럭 요소를 사용할 때, 이미지의 위치를 top으로 바꿔주어야 함.
	  즉, 이미지의 값을 사용할 때임*/
	  
a{
	text-decoration:none;}
	
	
	
/*
전체 속성을 잡고 시작함.

id속성을 이용해서 만들 것.

동일한 id의 값은 존재할 수 없음.

큰 틀을 나눌 때, 아이디 값을 자주 씀.

전체를 나누는 걸 id.wrap이라고 씀

사이트를 열었을 때 나오는 첫번째 페이지의 이름이 index임.

다른 페이지로 이동하더라도 상단영역의 디자인은 항상 동일함.

상단에 있는 영역을 헤더영역이라고 부름. 헤더영역은 항상 동일한 상태이므로 상단영역에
항상 동일하게 묶일 수 있도록 만들어야함.
또한 페이지에 갈때마다 하단부분도 동일하게 반복되도록 만든다. 이 영역을 풋터영역이라고 부른다.
헤더와 풋터 사이에 있는 영역을 본문이라고 부른다.
-> 전체
	 ㄴ헤더
	 	ㄴ안전사이즈
			ㄴ로고(문서에서 가장 큰 영역이라고 여기기 때문에 h1이 사용되는 경우가 많음)
			ㄴ유틸메뉴
			ㄴ네비게이션
			ㄴ검색
	 ㄴ본문
	 		ㄴ메인슬라이더
			ㄴ브랜드
			ㄴ이벤트
				ㄴ안전사이즈
					ㄴ제목
					ㄴ리스트
			ㄴ쇼룸
				ㄴ제목 h2
				ㄴ리스트 ul
	 ㄴ푸터
		ㄴ패밀리사이트
		ㄴ안전사이즈
			ㄴ하단로고
			ㄴ하단메뉴
			ㄴ업체정보
			ㄴ저작권정보

  = 헤더영역을 구성하기에 앞서서 이미지 전체의 너비 값은 생각하지 않고 작성해야한다.
  	실제로 작성되는 값은 좀더 작은 사이즈의 값이다.
  = 사이트 전체에 걸쳐서 움직일 수 있도록하는 메뉴를 네비게이션 또는 메인메뉴라고 부른다.
  
1. 헤더영역
   - 헤더영역 안쪽으로 안전사이즈 영역을 만듬
   - 안전사이즈 영역이란 출력시킬 내용을 화면 안에 넣어두는 영역이다.
   - 안전사이즈가 만들어지면 헤더가 구성되고 있는 내용을 작성함
   

2. 본문영역
   - 본문영역의 안쪽으로는 총 4개의 층이 나뉘게 됨.
   - 이미지는 안전사이즈를 넘어가고, 때문에 가로 슬라이더가 생길 수 밖에 없음
     따라서 이미지를 배경으로 설정하되 텍스트로 설명해놓음. 와이드 창은 대부분 배경이미지로 작성함.
   - 진행중인 위쪽의 선은 따로 만들어야


3. 이벤트의 회색 영역은 가득 찰 수 있도록 100%를 써야하며, 그 안의 1220px안쪽에 모아지도록 만들어야함*/




/*쇼룸영역은 배경이 없음

위아래 간격 및 가운데 배치가 되도록 만듬*/





/*푸터영역도 100%너비값을 사용해야 한다.

메뉴가 작성되는 영역까지만 채운다. 메뉴영역 따로하며
그 아래쪽에 영역 따로 만든다.

글자사이의 바는 스판태그를 이용해서 만듬

*/


























